

.userData {
    border-style: double;
    border-radius: 5px;
    margin: auto;
    width: 25%;
    display: block;
    padding: 20px;
    background-color: lemonchiffon;
}

.avatarPic {
    height: 100px;
    margin: auto;
    display:block;
}

.centered {
    text-align: center;
}

.textA{
    width: 350px;
    height: 100px
}




.post {
    border-style: double;
    border-radius: 5px;
    margin: auto;
    width: 50%;
    display: block;
    padding: 10px;
    background-color: lemonchiffon;
}

.miniPic {
    display: block;
    margin: auto;
    width: 50px;
    border-radius: 50px;
}

.floatCenter{
    text-align: center;
}

.postPic {
    display: block;
    margin: auto;
    max-height: 350px;
    padding: 10px
}

.nums{
    text-align: center;
    font-size: smaller;
}

.userInfo{
    display:grid;
    grid-template-columns: 1fr 55px 20px auto 1fr;
    margin: auto;
    width: 50%;
}

.col1{
    grid-column-start: 2;
    width: 55px;
    
}

.col2{
    grid-column-start: 4;
}

.miniPicOnPost {
    width: 50px;
    border-radius: 50px;
    float: right
}

.off{
    display: none
}

.on{
    text-align: center;
}


.recipePic{
    text-align: center;
    margin: auto;
    display: block;
    width: 100px;
    border-radius: 100px;
}


.↓{
    display: none
}

.↑{
  
}

.smallCentered {
    text-align: center;
    font-size: smaller;
}

.centeredLi {
    margin: auto;
    display: block;
}

.overHeader {
    position: sticky;
    top: 0;
    background-color: white;
}

.header {

    width: 50%;
    margin: auto;
}

.headerCentered {
    width: 60%;
    margin: auto;
}

.headerPic {
    height: 100px;
    margin: auto;
}

.comment{
    display:grid;
    grid-template-columns: 1fr 55px 20px auto 1fr;
    border-style: double;
}